body{
  padding: 30px;
  font-family: 'Poppins', sans-serif;
}

h2{
  color:orange;
  font-size: 3.5rem;
  font-weight: 500;
  font-style: italic;
}

h1{
  font-size: 4rem;
  font-weight: bolder;
}

h1 > span{
  font-size: 4.5rem;
  color: navy;
}

.beauty > img{
  width: 500px;
  height: auto;
  float: left;
  margin-right: 30px;
}

.construction > img{
  width: 500px;
  height: auto;
  float: left;
  margin-right: 30px;
}

.beauty{
  display: inline-block;
  height: 300px;
  width: 800px;
  margin-right: 100px;
}

.construction{
  display: inline-block;
  height: 300px;
  width: 800px;
}

.beauty > h4 {
  font-size: 18pt;
  font-weight: bolder;
}

.construction > h4 {
  font-size: 18pt;
  font-weight: bolder;
}

.beauty > p {
  font-size: 14pt;
  font-weight: 400;
}

.construction > p {
  font-size: 14pt;
  font-weight: 400;
}

footer{
  position: relative;
  font-size: 14pt;
  top: 350px;
  left: 80%;
}

p{
  margin: 0;
}

h4{
  margin: 0;
}


  @media (min-width:319px) and (max-width: 480px){
    body{
      padding: 20px;
      margin: 0;
    }
    div > h1{
      font-size: 40pt;
      margin: 0;
    }
        
    .beauty > img{
      width: 100%;
      margin: 0;
    }

    .construction > img{
      width: 100%;
      margin: 0;
    }
        
    .beauty{
      display: inline-block;
      height: 500px;
      width: 500px;
      margin: 0;
    }

    .construction{
      display: inline-block;
      height: 500px;
      width: 500px;
      margin: 0;
    }

    footer{
      font-size: 13pt;
      left: 95%;
    }
  }

  @media (min-width:481px) and (max-width: 1200px){
    body{
      padding: 60px;
      margin: 0;
    }

    div > h1{
      font-size: 40pt;
      margin: 0 0 20pt 0;
    }
        
    .beauty > img{
      width: 100%;
      margin: 0;
    }

    .construction > img{
      width: 100%;
      margin: 0;
    }
        
    .beauty{
      display: inline-block;
      height: 600px;
      width: 600px;
      margin: 0;
    }

    .construction{
      display: inline-block;
      height: 600px;
      width: 600px;
      margin: 0;
    }

    footer{
      font-size: 15pt;
      left: 98%;
    }
  }

  @media (min-width:1201px) and (max-width: 1600px){
    body{
      padding: 60px;
      margin: 0;
    }

    div > h1{
      font-size: 40pt;
      margin: 0 0 20pt 0;
    }
        
    .beauty > img{
      width: 100%;
      margin: 0;
    }

    .construction > img{
      width: 100%;
      margin: 0;
    }
        
    .beauty{
      display: inline-block;
      height: 600px;
      width: 600px;
      margin: 0;
    }

    .construction{
      display: inline-block;
      height: 600px;
      width: 600px;
      margin: 0;
    }

    footer{
      font-size: 15pt;
      left: 80%;
    }
  }