


/* For Challenge 1 */
/* .heading{
  font-size: 50px;
  font-weight: bold;
  border-bottom: 5px solid black;
} */

/* img {
  width: 200px;
  height: 300px;
} */

/* .heading{
  color:Blue;
}

.item1{
  font-size: 20px;
} */